
<div>
    <h3> <%= link_to "Create New Event", new_event_path %> </h3>
</div>
<% @events.each do |event| %>

<div class="row">
  <div class="small-7 medium-7 columns panel">
    <dl class="sub-nav">
    <dt> <%= event.name %>: </dt>
    <dd class="active"> <%= link_to "Location", event %></dd>
    <dd><a href="#">Active</a></dd>
    <dd><a href="#">Pending</a></dd>
    </dl>


  <div class="small-5 medium-5 columns panel">
    <h6> upload Image </h6>
    <img class="avatar" src="<%= event.avatar %>" />
  </div>  <br>

    <h5 class="right"> <%=event.description%> </h5>
  </div>
</div>
<%end%>
